backup/
lib/
test/

*.exe
*.cmd
*.bat
*.dll
*.a

*.dylib
*.js
*.gml
*.lib

*.res
*.o
*.obj
*.dbg

*.gex
*.ged
*.gmp
*.gme
*.dat

*.rtf
*.doc
*.chm
*.hlp
*.htm
*.html
*.json

*.lps
*.def
*.depend
*.layout

*.lnk
*.bak
*.bkp
*.~*
~*
Thumbs.db
Desktop.ini
Копия*

# Exceptions
!clean.cmd
roadmap.txt
